attrs==21.2.0
bleach==3.3.1
build==0.5.1
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.2
click==8.0.1
colorama==0.4.4
coverage==5.5
cryptography==3.4.7
decorator==4.4.2
docutils==0.17.1
filelock==3.0.12
future==0.18.2
gdown==3.13.0
huggingface-hub==0.0.12
hyperopt==0.1.2
idna==3.2
importlib-metadata==4.6.1
iniconfig==1.1.1
jeepney==0.7.0
joblib==1.0.1
keyring==23.0.1
networkx==2.5.1
numpy==1.21.0
packaging==21.0
pep517==0.11.0
Pillow==8.3.1
pkginfo==1.7.1
pluggy==0.13.1
py==1.10.0
pycparser==2.20
Pygments==2.9.0
pymongo==3.12.0
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.2.4
pytorch-wrapper==1.1.0
PyYAML==5.4.1
readme-renderer==29.0
regex==2021.7.6
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.7.0
SecretStorage==3.3.1
six==1.16.0
threadpoolctl==2.2.0
tokenizers==0.10.3
toml==0.10.2
tomli==1.0.4
torch==1.9.0
torchaudio==0.9.0
torchvision==0.10.0
tqdm==4.61.2
transformers==4.8.2
twine==3.4.1
typing-extensions==3.10.0.0
urllib3==1.26.6
webencodings==0.5.1
zipp==3.5.0
